// Footer
.footer {
  height: 70px;
  width: 100%;
  background: #c9c9ca;
  text-align: center;
  border-top: solid 1px #b6b6b7
}

.footer__copyright-text {
  opacity: 0.7;
  font-size: 0.7em;
  line-height: 70px;
  font-weight: bold;
  margin: 0;
}