{% extends "_base.twig" %}
{% set pageName = 'Index' %}

{% block header %}
  <div class="header__background"></div>
  <header class="header o-container">
    <h1 class="header__title">IM LETRINHDESIGN</h1>
    <h2 class="header__subtitle">IM A WEB DESIGNER</h2>
    <p class="header__paragraph">i’ve been helping web design and grow your businesses. start your business with new
      website. Lorem ipsum dolor
      sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
    <img class="header__arrow js-header__arrow" src="assets/images/arrow-icon.png">
  </header>
{% endblock %}

{% block content %}
  <main class="content">
    <div class="section o-container">
      <h1 class="content__title">ABOUT US</h1>
      <div class="horizontal-divider"></div>
      <p class="content__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua.</p>
      <div class="content__media-wrapper">
        <img class="content__media" src="assets/images/about-us.jpg">
        <img class="content__media__play-icon" src="assets/images/media-play-icon.png">
      </div>
    </div>

    <div class="section section__who">
      <div class="o-container">
        <h1 class="content__title">WHO WE ARE</h1>
        <div class="horizontal-divider"></div>
        <p class="content__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.</p>
      </div>

      <div class="o-container--big">
        <div class="section__who__gallery">
          <div class="section__who__block">
            <img class="section__who__media" src="assets/images/who3.jpg">
            <p class="content__paragraph-bold">Lily Allen</p>
            <p class="content__paragraph-light">Graphic Designer</p>
          </div>
          <div class="section__who__block">
            <img class="section__who__media" src="assets/images/who1.jpg">
            <p class="content__paragraph-bold">Alex Cutter</p>
            <p class="content__paragraph-light">Developer</p>
          </div>
          <div class="section__who__block">
            <img class="section__who__media" src="assets/images/who2.jpg">
            <p class="content__paragraph-bold">Elena Simpson</p>
            <p class="content__paragraph-light">Artist</p>
          </div>
          <div class="section__who__block">
            <img class="section__who__media" src="assets/images/who3.jpg">
            <p class="content__paragraph-bold">Lily Allen</p>
            <p class="content__paragraph-light">Graphic Designer</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section section__what">
      <div class="o-container">
        <h1 class="content__title">WHAT WE DO</h1>
        <div class="horizontal-divider"></div>
        <p class="content__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.</p>
      </div>

      <div class="o-container--big section__what__gallery">
        <div class="section__what__block">
          <img src="assets/images/what0.png">
          <p class="content__paragraph-bold orange-paragraph">DESIGN</p>
          <p class="content__paragraph-light">Perspiciatis unde omnis iste natus error sit voluptatem accu santium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
            beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="section__what__block">
          <img src="assets/images/what1.png">
          <p class="content__paragraph-bold">DEVELOPMENT</p>
          <p class="content__paragraph-light">Perspiciatis unde omnis iste natus error sit voluptatem accu santium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
            beatae vitae dicta sunt explicabo.</p>
        </div>
        <div class="section__what__block">
          <img src="assets/images/what2.png">
          <p class="content__paragraph-bold">PRODUCT MANAGEMENT</p>
          <p class="content__paragraph-light">Perspiciatis unde omnis iste natus error sit voluptatem accu santium
            doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
            beatae vitae dicta sunt explicabo.</p>
        </div>
      </div>

    </div>

    <div class="section">
      <div class="o-container">
        <h1 class="content__title">OUR WORK</h1>
        <div class="horizontal-divider"></div>
        <p class="content__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.</p>
      </div>

      <div class="section__work__carousel">
        <div class="section__work__slide">
          <img class="section__work__slide__media" src="assets/images/work0.jpg">
          <div class="section__work__rectangle"></div>
        </div>
        <div class="section__work__slide">
          <img class="section__work__slide__media" src="assets/images/work1.jpg">
          <div class="section__work__rectangle"></div>
        </div>
        <div class="section__work__slide">
          <img class="section__work__slide__media" src="assets/images/work2.jpg">
          <div class="section__work__rectangle"></div>
        </div>
        <div class="section__work__slide">
          <img class="section__work__slide__media" src="assets/images/work0.jpg">
          <div class="section__work__rectangle"></div>
        </div>
        <div class="section__work__slide">
          <img class="section__work__slide__media" src="assets/images/work1.jpg">
          <div class="section__work__rectangle"></div>
        </div>
      </div>

    </div>

    <div class="section section__clients">
      <div class="section__clients__wrapper">
        <div class="o-container">
          <h1 class="content__title">OUR CLIENT</h1>
          <div class="horizontal-divider"></div>
          <p class="content__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="section__clients__logos">
          <div class="section__clients__media__wrapper">
            <img src="assets/images/clients0.png">
          </div>
          <div class="section__clients__media__wrapper">
            <img src="assets/images/clients1.png">
          </div>
          <div class="section__clients__media__wrapper">
            <img src="assets/images/clients2.png">
          </div>
          <div class="section__clients__media__wrapper">
            <img src="assets/images/clients3.png">
          </div>
          <div class="section__clients__media__wrapper">
            <img src="assets/images/clients4.png">
          </div>
        </div>
      </div>
    </div>

    <div class="section section__contact">
      <div class="o-container">
        <h1 class="content__title">GET IN TOUCH</h1>
        <div class="horizontal-divider"></div>
        <p class="content__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="o-container--big">
        <h3 class="left-align font-bold">Say hello!</h3>
      </div>
      <div class="section__contact__grid o-container--big">
        <form class="section__contact__form">
          <input class="section__contact__input" placeholder="Name" type="text"/>
          <input class="section__contact__input" placeholder="Email" type="text"/>
          <input class="section__contact__input" placeholder="Message" type="text"/>
          <button class="section__contact__submit-btn" type="submit">Send message</button>
        </form>
        <div class="section__contact__icons">
          <div class="section__contact__icon-wrapper"><i class="fa fa-behance" aria-hidden="true"></i></div>
          <div class="section__contact__icon-wrapper"><i class="fa fa-twitter" aria-hidden="true"></i></div>
          <div class="section__contact__icon-wrapper"><i class="fa fa-dribbble" aria-hidden="true"></i></div>
          <div class="section__contact__icon-wrapper"><i class="fa fa-facebook-official" aria-hidden="true"></i></div>
          <div class="section__contact__icon-wrapper"><i class="fa fa-google-plus" aria-hidden="true"></i></div>
        </div>
      </div>
    </div>

  </main>
{% endblock %}

{% block footer %}
  <footer class="footer">
    <p class="footer__copyright-text">Copyright © 2014 by LeTrinhDesign. All rights reserved.</p>
  </footer>
{% endblock %}

