// Page

html {
  background: $color-bg;
  color: $color-text;
  font-family: $font-primary-light;
  font-size: 0.875rem;
  height: 100%;
  width: 100%;
  line-height: 2;
  margin: 0;

  @include bp-medium {
    font-size: 1em;
  }

  @include bp-large {
    font-size: 1.125em;
  }

  @include bp-full {
    font-size: 1.25em;
  }
}

body {
  height: 100%;
  width: 100%;
}

