// Colors
$color-white: #fff;
$color-black: #000;
$color-light-grey: #f6f6f6;
$color-middle-grey: #dddbdb;
$color-dark-grey: #3c3c3c;

// Text
$color-bg: $color-white;
$color-text: $color-dark-grey;

// Links
$color-link: $color-text;

// Borders
$color-border: $color-middle-grey;
