// Settings global
@font-face {
  font-family: light-lato;
  src: url(../assets/fonts/lato/Lato-Light.ttf);
}

@font-face {
  font-family: bold-lato;
  src: url(../assets/fonts/lato/Lato-Bold.ttf);
}

// Font definitions
$font-georgia: 'Georgia', serif;
$font-times: 'Times', serif;
$font-serif: $font-times;
$font-primary-light: 'light-lato';
$font-primary-bold: 'bold-lato';

// Breakpoints definitions
$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-full: 1600px;

//Layout definitions
$c-padding-h: 20px;
$c-max-width-small: 800px;
$c-max-width-big: 1200px;
